/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

@use "header";
@use "hero";
@use "about";
@use "skill";
@use "skill-ticker";
@use "project";
@use "edu-experience";
@use "contact";
@use "footer";